<div class="w-screen justify-center flex flex-col items-center h-screen">
    <h1>ADMIN PANEL</h1>
      <%= link_to "go to frontend", "http://localhost:3001", target: "_blank" %>
    <button>button</button>
</div>