<div class="w-screen justify-center flex flex-col items-center h-screen">
    <h1>ADMIN PANEL</h1>
    <%= link_to "http://localhost:3001", target: "_self" do %>
     <button>go to frontend</button>
    <% end %> 
</div>